body {
  margin: 0;
  padding: 0;
  background-color: black;
  background-repeat: no-repeat;
}

main {
  width: 85vw;
  min-height: 80vh;
  max-width: 1024px;
  margin: 35px auto;
  /* box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); */
}

.hero {
  background-image: url('https://live.staticflickr.com/5792/20931966766_3d65f28c27_b.jpg');
  min-height: 80vh;
  width: 100%;
  background-size: fill;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Rock Salt', cursive;
  font-size: 4rem;
  color: blue;
}

#search {
  margin: 20px 30%;
  height: 25px;
  display: flex;
}

.searchBox {
  border-radius: 10px;
  font-family: 'Advent Pro', sans-serif;
}

button {
  color: blue;
  border: none;
  margin: 5px;
  height: 25px;
  border-radius:  10px;
  background-color: chartreuse;
  font-family: 'Advent Pro', sans-serif;
}

.grid-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.page-view {
  min-height: 40vh;
}

/* 
.grid-view div.card.ui {
  margin: 1.25rem;
}
.main-img {
  display: block;
  border-radius: 100%;
  margin: 0 auto;
} */

header {
  color: chartreuse;
  font-family: 'Rock Salt', cursive;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 5px auto;
  margin-bottom: 20px;
  width: 100%;
}

ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style-type: none;
}

 a {
   color:blue;
   padding: 0 2%;
   background-color: chartreuse;
   text-decoration: none;
   border:  none;
   border-radius: 10px;;
 }

 a:visited {
   color: blue;
 }

 a:hover {
   font-size: larger;
   background-color: purple;
   color: chartreuse
 }
 
 header h2 {
  text-align: center;
  font-size: 2rem;
}

img {
  border: 1px solid chartreuse;
  border-radius: 8px;
  width: 50%;
}

.card {
  font-size: .7rem;
  background-color: darkmagenta;
  border: none;
  border-radius: 8px;
  margin: 25px;
  width: 40%;
}

p {
  margin: 5%;
  text-align: left;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: 2rem;
}